<h1>Services Now<%= link_to "(Contact Us for a Quote)", new_contact_path, class: 'btn btn-link' %></h1>

<h3>iPhone Software Development</h3>
<p>CDC Labs, since its very inception has aimed to spearhead the iPhone Software Development Revolution. We offer you, exceptional state-of-the-art services in iPhone Software Development iPhone Application Development, iPhone Game Development and iPhone Web Development.</p>
<%= link_to "iPhone Software Development", service_now_iphone_path, class: 'btn btn-info' %>

<h3>iPad Software Development</h3>
<p>iPad, the undisputed leader in tablet PC market, has already captured a sizeable market share. CDC Labs was early to join this new tablet revolution with its iPad Software Development Services, crafting some of the bestselling, “never before offered” function-rich apps and games. And this is not the end, they will be back with the next generation of iPad-optimized hits</p>

<%= link_to "iPad Software Development", service_now_ipad_path, class: 'btn btn-info' %>

<h3>Android Software Development</h3>
<p>CDC Labs has been eyeing Android since its birth, given its much talked about “open source” nature that has helped in making it not only a powerful mobile and tablet-friendly but also gain a strong foothold among hardware manufacturers. CDC Labs is well placed with technical expertise and adroitness to develop software applications for this “new kid on the block”.</p>
<%= link_to "Android Software Development", service_now_android_path, class: 'btn btn-info' %>

<h3>Mobile Development</h3>
<p>CDC Labs is your one stop-shop for all mobile development needs, having the desired capabilities and on-demand capacity for delivering just the right app to suit the business needs of all sorts of organizations, be it a start-up or an industry veteran.</p>
<%= link_to "Mobile Development", service_now_mobile_path, class: 'btn btn-info' %>

<h3>Web Development</h3>
<p>CDC Labs is actively trying to spearhead the Web Application Development and Website Development mission. Our adroit team is committed to providing you with the most cutting- edge tools and technologies such as the Zend, PHP Framework and Ruby on Rails that make your Web Applications and Websites come alive, and that too with a user interface enhancement of your preference. Each and every line of code goes through a stringent security check process to iron out any quality-anomalies, for your peace of mind.</p>

<%= link_to "Web Development", service_now_web_development_path, class: 'btn btn-info' %>
<h3>User Interface Design</h3>
<p>The graphical user interface is where first immortal impressions are made and users immediately start forming opinions about you as one of the players in the market, which ultimately translate into word of mouth and online reviews. Therefore, organizations are also willing to shelve out “big moolah” to anyone who can package their product killingly!! CDC Labs designs attractive user-friendly UIs from scratch - for everything from decent, micro sites to powerful mobile and web applications.</p>

<%= link_to "User Interface Design", service_now_user_interface_path, class: 'btn btn-info' %>

<h3>Social Media Development</h3>
<p>CDCLabs has a dedicated team of developers to ensure that you only get the best in Social Media Development. We are leading the industry in Social Media Application and Game Development.</p>
<%= link_to "Social Media Development",service_now_social_media_path, class: 'btn btn-info' %>
</br>


