
<html>
  <head>
    <title>CDC Labs</title>
    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <nav class="navbar navbar-default">
    <div class="container">
      <ul class="nav nav-tabs">
    

      <ul class="nav navbar-nav">
        <li class="active"><%= link_to "CDC Labs", root_path %></li>
        <li class="active"><%= link_to "About", about_index_path %></li>
        <li class="active"><%= link_to "Mobile Portfolio", mobile_portfolios_index_path %></li>
        <li class="active"><%= link_to "Blog", blogs_index_path %></li>
        <li class="active"><%= link_to "Contact Us", new_contact_path %></li>
      
    <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="http://localhost:3000/service_now/index">Services Now<span class="caret"></span></button>
          <ul class="dropdown-menu">
            <li><%= link_to "Services Now", service_now_index_path %></li>
            <li><%= link_to "iPhone Software Development", service_now_iphone_path %></li>
          </ul>
      </ul>
    </ul>
    </li>
     <%= yield %>
    </div>
  </body>
</html>
