
<html>
  <head>
    <title>CDC Labs</title>
    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  </head>

    <body>
      <div id="wrap">
      <nav class="navbar navbar-default">
        <div class="container">
          <ul class="nav nav-tabs">
            <div class="pull-right"> 
              <ul class="nav navbar-nav">
                <li class="dropdown"><%= link_to "CDC Labs", root_path %></li>
                <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="http://localhost:3000/service_now/index">About Us<span class="caret"></span></button>
                <ul class="dropdown-menu">
                  <li><%= link_to "About Us", about_index_path %></li>
                  <li><%= link_to "Career Opportunities", about_careers_path %></li>
                </ul>
                </li>
                <li class="dropdown"><%= link_to "Mobile Portfolio", mobile_portfolios_index_path %></li>
                <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="http://localhost:3000/service_now/index">ServiceNow<span class="caret"></span></button>
                <ul class="dropdown-menu">
                <li><%= link_to "Purpose and Stratagem", service_now_purpose_path %></li>
                <li><%= link_to "Operation and Integration", service_now_operation_path %></li>
                <li><%= link_to "Maximization", service_now_maximization_path %></li>      
                </ul>
                </li>
                <li class="dropdown"><%= link_to "Web Deveopment", web_development_index_path %></li>
                <li class="dropdown"><%= link_to "Blog", blogs_index_path %></li>
                <li class="dropdown"><%= link_to "Contact Us", new_contact_path %></li>
              </ul>
            </div>
         </ul>
       


       
      
    <!-- The content of your page would go here. -->
     
    <div id="footer">
      <div class="container">     
    <footer class="footer-distributed">

      <div class="footer-left">

        <h3>CDC Labs<span></span></h3>

        <p class="footer-links">
          <%= link_to "Home", root_path %>
          ·
          <%= link_to "About", about_index_path %>
          ·
          <%= link_to "Request Quote", new_contact_path %>
          ·
          <%= link_to "Blog", blogs_index_path %>
          ·
          <%= link_to "Careers", about_careers_path %>
          ·
          <%= link_to "Contact Us", new_contact_path %>
        </p>

        <p class="footer-company-name">CDC Labs © 2015</p>
      </div>

      <div class="footer-center">

         <div>
          <i class="fa fa-map-marker"></i>
          <p><span>Noida</span>India</p>
        </div>

        <div>
          <i class="fa fa-phone"></i>
          <p>+91-120-4133694</p>
        </div>

        <div>
          <i class="fa fa-map-marker"></i>
          <p><span>Arizona</span>U.S.A</p>
        </div>

        <div>
          <i class="fa fa-phone"></i>
          <p>+1 510.364.7850</p>
        </div>

        <div>
          <i class="fa fa-map-marker"></i>
          <p><span>Sheffield</span>U.K.</p>
        </div>

        <div>
          <i class="fa fa-phone"></i>
          <p>+44 776.927.0636</p>
        </div>
      
        <div>
          <i class="fa fa-envelope"></i>
          <%= link_to "support@company.com", new_contact_path %>
        </div>

      </div>

      <div class="footer-right">

        <p class="footer-company-about">
          <span>About CDC Labs</span>
          CDC Labs is at the forefront of emerging niche technologies, fabricating client-specific world class applications for various platforms like iPhone/iPad, Android, Windows Mobile, Cloud Computing and Social Media at its offshore development center. 
        </p>

        <div class="footer-icons">

          <!--<a href="#"><i class="fa fa-facebook"></i></a> -->
          <a href="https://twitter.com/competencydev"><i class="fa fa-twitter"></i></a>
          <a href="https://www.youtube.com/user/CDCLabs"><i class="fa fa-youtube"></i></a>
          <a href="https://plus.google.com/109056339856373446100"><i class="fa fa-google-plus"></i></a>
          <a href="https://www.pinterest.com/cdclabs"><i class="fa fa-pinterest"></i></a>
          <a href="https://www.flickr.com/photos/cdc_labs"><i class="fa fa-flickr"></i></a>
          <a href="http://www.slideshare.net/cdc_labs/leaflets-111229004733phpapp01"><i class="fa fa-slideshare"></i></a>
        </div>
      </div>
 
    </footer>
     </div>
</div>

  <%= yield %>
      </div>
  
    </body>
</html>
