
<html>
  <head>
    <title>CDC Labs</title>
    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="container">
      <ul class="nav nav-tabs">
        <li><%= link_to "CDC Labs", root_path %></li>
        <li><%= link_to "About", about_index_path %></li>
        <li><%= link_to "Mobile Portfolio", mobile_portfolios_index_path %></li>
        <li><%= link_to "Services Now", service_now_index_path %></li>
        <li><%= link_to "Blog", blogs_index_path %></li>
        <li><%= link_to "Contact Us", new_contact_path %></li>
      </ul>
      <%= yield %>
    </div>
  </body>
</html>
