
<html>
  <head>
    <title>CDC Labs</title>
    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="container">
      <ul class="nav nav-tabs">
        
        <li><%= link_to "CDC Labs", root_path %></li>
       
          
    </div>
    </ul>


      <%= yield %>
      </div>

  </body>
</html>
